.person-container {
  position: relative;
  color: white;
  width: 200px;
  height: 220px;
  margin: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: color 1s ease;
}

.person-container::before {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 90%;
  height: 1px;
  background: radial-gradient(ellipse at right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 70%);
  transition: all 1s;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.person-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 70%);
  transition: all 1s;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.person-container:hover {
  color: red;
}

.person-container:hover::before {
  background: radial-gradient(ellipse at right, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.1) 70%);
}

.person-container:hover::after {
  background: radial-gradient(ellipse at bottom, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.1) 70%);
}

.person-container .photo {
  margin: 1rem;
  border-radius: 3px;
}

.person-container .flag {
  position: absolute;
  top: 110px;
  right: 16px;
}

.person-container .name {
  font-family: PT Sans;
  font-size: 0.8rem;
  margin-top: 0rem;
  text-transform: uppercase;
}