@import './colors.css';
@import './navbar.css';
@import './figure.css';
@import './detail.css';

body {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  background: black;
}

.blockquote {
  font-size: 1rem;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

.page-wrapper .content-wrapper .main-title {
  color: white;
  padding: 1rem;
  background-color: black;
  font-size: 1.8rem;
}

.page-wrapper .content-wrapper .main-title::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at left, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.1) 70%);
  transition: all 0.5s;
}

.content-wrapper>article {
  width: 90%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.content-wrapper h1 {
  padding: 0 48px;
}

.grid-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}